body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    border: 1px solid gray;
    padding: 10px;
    background: #d5c9c9;
}

.title {
    text-align: center;
    color: brown;
    font-family: cursive;
}

.nav-box {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    ;
}

button {
    padding: 5px 10px;
    border: 1px solid #888;
    background-color: #469bcf;
    cursor: pointer;
}
